*{
    padding:0;
    margin:0;
   font-family: 'Manrope', sans-serif;
  font-weight: 500; /* например, SemiBold */
  font-size: 16px;
}
/* главный фон страницы */
.container__browser{
    background-color: #1a1a2e;
    height: 100vh;
    margin:0;
    padding-top:50px;
}
/* само приложение помодоро (бирюзовый фон) 500 на 500 пикс */
.pomodoro__app{
    background-color: #4ecdc4;
    border-radius:20px;
    width:500px;
    height: 450px;
    margin:0 auto 0;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* текст внутри приложения 25 минут */
.pomodoro__time{
    color:white;
    font-size: 150px;
   font-family: 'Nunito', sans-serif;

    
}
/* текст фокус\перерыв */
p{
    color:white;
}