*{
    padding:0;
    margin:0;
   font-weight: 700;
   font-family: 'Nunito', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
/* главный фон страницы */
.container__browser{
    background-color: #1a1a2e;
    height: 100vh;
    margin:0;
    display:flex;
}
/* само приложение помодоро (бирюзовый фон) 500 на 500 пикс */
.pomodoro__app{
    background-color: #4ecdc4;
    border-radius:20px;
    width:500px;
    height: 450px;
    margin:50px auto 0;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* текст внутри приложения 25 минут */
.pomodoro__time{
    color:white;
    font-size: 150px;
   font-family: 'Nunito', sans-serif;
font-weight: 600;
    
}
/* текст фокус\перерыв */
p{
    margin-top:30px;
    color:rgb(100, 112, 245);
    font-size:40px;
    font-weight: 700;
   font-family: 'Nunito', sans-serif;

}